:root {
	--weerspiegeling: 55%;
	--omringende-bergen: polygon(
		100% 0%,
		0% 0%,
		0% 65%,
		1% 64.95%,
		2% 64.8%,
		3% 64.6%,
		4% 64.3%,
		5% 63.9%,
		6% 63.45%,
		7% 62.9%,
		8% 62.25%,
		9% 61.55%,
		10% 60.8%,
		11% 59.95%,
		12% 59.05%,
		13% 58.1%,
		14% 57.1%,
		15% 56.05%,
		16% 55%,
		17% 53.9%,
		18% 52.8%,
		19% 51.65%,
		20% 50.5%,
		21% 49.35%,
		22% 48.2%,
		23% 47.05%,
		24% 45.9%,
		25% 44.8%,
		26% 43.75%,
		27% 42.75%,
		28% 41.75%,
		29% 40.8%,
		30% 39.9%,
		31% 39.1%,
		32% 38.35%,
		33% 37.65%,
		34% 37.05%,
		35% 36.5%,
		36% 36.05%,
		37% 35.65%,
		38% 35.35%,
		39% 35.15%,
		40% 35.05%,
		41% 35%,
		42% 35.05%,
		43% 35.2%,
		44% 35.45%,
		45% 35.75%,
		46% 36.15%,
		47% 36.65%,
		48% 37.2%,
		49% 37.85%,
		50% 38.55%,
		51% 39.35%,
		52% 40.2%,
		53% 41.1%,
		54% 42.05%,
		55% 43.05%,
		56% 44.1%,
		57% 45.15%,
		58% 46.3%,
		59% 47.4%,
		60% 48.55%,
		61% 49.7%,
		62% 50.85%,
		63% 52%,
		64% 53.15%,
		65% 54.25%,
		66% 55.35%,
		67% 56.4%,
		68% 57.45%,
		69% 58.4%,
		70% 59.35%,
		71% 60.2%,
		72% 61.05%,
		73% 61.8%,
		74% 62.45%,
		75% 63.05%,
		76% 63.6%,
		77% 64.05%,
		78% 64.4%,
		79% 64.7%,
		80% 64.85%,
		81% 65%,
		82% 65%,
		83% 64.9%,
		84% 64.75%,
		85% 64.5%,
		86% 64.2%,
		87% 63.75%,
		88% 63.25%,
		89% 62.7%,
		90% 62.05%,
		91% 61.3%,
		92% 60.5%,
		93% 59.65%,
		94% 58.75%,
		95% 57.8%,
		96% 56.8%,
		97% 55.75%,
		98% 54.65%,
		99% 53.55%,
		100% 52.4%
	);
	--berg-top: polygon(
		49% 0%,
		0% 71%,
		20% 62%,
		27% 71%,
		40% 65%,
		33% 80%,
		54% 66%,
		64% 72%,
		70% 67%,
		84% 79%,
		86% 67%,
		100% 73%
	);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-repeat: no-repeat;
	height: 100vh;
	overflow-y: hidden;
	background-image: linear-gradient(
		0deg,
		rgba(61, 123, 171, 1) 2%,
		rgba(49, 87, 145, 1) 29%,
		rgba(2, 39, 111, 1) 50%,
		rgba(4, 12, 42, 1) 100%
	);
}

body > div {
	display: flex;
	margin: auto;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	align-items: center;
}

/* Sterren  */
body > div > div:first-of-type ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	position: absolute;
	left: 0;
	transform: translateY(35%);
}
body > div > div:first-of-type ul li {
	opacity: 80%;
	background-color: white;
	list-style: none;
	width: 0.1vw;
	margin: 2vw 2.5vw;
	height: 0.1vw;
	border-radius: 50%;
	transform: translateX(0%);
	box-shadow: 0 0 6em 0.5em rgba(250, 250, 250, 0.5), 0 0 10em 1em rgba(4, 12, 42, 1);
}

body > div > div:first-of-type ul li:nth-of-type(3n) {
	width: 0.1vw;
	height: 0.1vw;
	transform: translateX(200%);
	animation: sterrenAnimatie 1.75s ease-in-out infinite;
	animation-delay: 0.5s;
}

body > div > div:first-of-type ul li:nth-of-type(4n) {
	width: 0.05vw;
	height: 0.05vw;
	transform: translate(1200% 800%);
	animation: sterrenAnimatie 1.75s ease-in-out infinite;
	animation-delay: 0.25s;
}

body > div > div:first-of-type ul li:nth-of-type(5n) {
	width: 0.2vw;
	height: 0.2vw;
	animation: sterrenAnimatie 2s ease-in-out infinite;
	animation-delay: 0.6s;
	transform: translate(700%, -1000%);
}

body > div > div:first-of-type ul li:nth-of-type(6n) {
	width: 0.08vw;
	height: 0.08vw;
	transform: translate(4000%, 5000%);
}

body > div > div:first-of-type ul li:nth-of-type(7n) {
	width: 0.12vw;
	height: 0.12vw;
	transform: translate(-700%, 6000%);
	animation: sterrenAnimatie 1.75s ease-in-out infinite;
	animation-delay: 1.75s;
}

body > div > div:first-of-type ul li:nth-of-type(10n) {
	width: 0.1vw;
	height: 0.1vw;
	transform: translateY(12000%);
	animation: sterrenAnimatie 10s ease-in-out infinite;
	animation-delay: 2s;
}

@keyframes sterrenAnimatie {
	0%,
	30% {
		opacity: 100%;
	}
	50%,
	65% {
		opacity: 0%;
	}
	85%,
	100% {
		opacity: 100%;
	}
}

/* Maan */
body > div > div:nth-of-type(2) {
	background-color: rgba(228, 227, 179, 1);
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	position: absolute;
	transform: translate(25%, 125%);
	box-shadow: 0 0 2em 1em rgba(228, 227, 179, 0.5), 0 0 3em 2em rgba(49, 87, 145, 0.8);
}

/* maan weerspiegeling */
body > div > div:nth-of-type(2) > div {
	background-color: rgba(228, 227, 179, 0.5);
	background: conic-gradient(
		at 100% 0%,
		transparent 180deg,
		rgba(228, 227, 179, 0.5) 0,
		rgba(228, 227, 179, 0.5) 225deg,
		transparent 0
	);
	width: 7.5vw;
	height: 7.5vw;
	border-radius: 50%;
	position: absolute;
	transform: translate(45%, 533%) rotate(15deg);
	border-image: linear-gradient(
		0deg,
		rgba(228, 227, 179, 0.5) 50%,
		rgba(49, 87, 145, 0) 50.1%,
		rgba(2, 39, 111, 0) 60.1%,
		rgba(228, 227, 179, 0.5) 100%
	);
	filter: blur(0.2em);
}

/* vuurwerk */

body > div > div:nth-of-type(3) > div:nth-of-type(1) {
	position: absolute;
}
body > div > div:nth-of-type(3) > div:nth-of-type(1) > div {
	position: absolute;
	left: -20vw;
	width: 0.2vw;
	height: 5vw;
	transform-origin: 50% 80%;
	overflow: hidden;
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(1) {
	transform: rotate(0deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(2) {
	transform: rotate(30deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(3) {
	transform: rotate(60deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(4) {
	transform: rotate(90deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(5) {
	transform: rotate(120deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(6) {
	transform: rotate(150deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(7) {
	transform: rotate(180deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(8) {
	transform: rotate(210deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(9) {
	transform: rotate(240deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(10) {
	transform: rotate(270deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(11) {
	transform: rotate(300deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(1) > div:nth-child(12) {
	transform: rotate(330deg) translateY(-1vw);
}

body > div > div:nth-of-type(3) > div:nth-of-type(1) > div::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 2.8vw;
	background-color: pink;
}

body > div > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(2n)::before {
	background-color: rgb(190, 121, 121);
}

@keyframes explosie {
	0% {
		top: 100%;
		opacity: 100%;
	}
	40%,
	100% {
		top: -60%;
		opacity: 50%;
	}
}

body > div > div:nth-of-type(3) div:nth-of-type(1) {
	left: 40%;
	top: 30%;
}

input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(1) > div::before {
	animation: explosie 1.75s ease-in-out infinite;
	animation-delay: 1.75s;
}

/* pijl vuurwerk */
input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(2) {
	background-color: pink;
	width: 0.25vw;
	border-radius: 25%;
	height: 0.5vw;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	animation: luchtIn 1.75s ease-in-out infinite;
	animation-delay: 0.1s;
}

@keyframes luchtIn {
	0%,
	45% {
		transform: translate(20vw, -20vw);
		opacity: 100%;
	}
	95% {
		transform: translate(20vw, -42vw);
		opacity: 100%;
	}
	96%,
	100% {
		transform: translate(20vw, -42vw);
		opacity: 0%;
	}
}

/* vuurwerk 2 */

body > div > div:nth-of-type(3) > div:nth-of-type(3) {
	position: absolute;
}
body > div > div:nth-of-type(3) > div:nth-of-type(3) > div {
	position: absolute;
	width: 0.2vw;
	height: 5vw;
	transform-origin: 50% 80%;
	overflow: hidden;
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(1) {
	transform: rotate(-15deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(2) {
	transform: rotate(15deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(3) {
	transform: rotate(45deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(4) {
	transform: rotate(75deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(5) {
	transform: rotate(105deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(6) {
	transform: rotate(135deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(7) {
	transform: rotate(165deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(8) {
	transform: rotate(195deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(9) {
	transform: rotate(225deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(10) {
	transform: rotate(255deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(11) {
	transform: rotate(285deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(3) > div:nth-child(12) {
	transform: rotate(315deg) translateY(-1vw);
}

body > div > div:nth-of-type(3) > div:nth-of-type(3) > div::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 2.8vw;
	background-color: pink;
}

body > div > div:nth-of-type(3) > div:nth-of-type(3) > div:nth-of-type(2n)::before {
	background-color: rgb(190, 121, 121);
}

@keyframes explosie2 {
	0% {
		top: 100%;
		opacity: 100%;
	}
	40%,
	100% {
		top: -60%;
		opacity: 50%;
	}
}

body > div > div:nth-of-type(3) div:nth-of-type(3) {
	left: 40%;
	top: 17.5%;
}

input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(3) > div::before {
	animation: explosie2 1.75s ease-in-out infinite;
	animation-delay: 3s;
}

/* pijl vuurwerk 2 */
input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(4) {
	background-color: pink;
	width: 0.25vw;
	border-radius: 25%;
	height: 0.5vw;
	position: absolute;
	opacity: 0;
	bottom: 0;
	left: 0;
	animation: luchtIn2 1.75s ease-in-out infinite;
	animation-delay: 3s;
}

@keyframes luchtIn2 {
	0%,
	45% {
		transform: translate(40vw, -20vw);
		opacity: 100%;
	}
	95% {
		transform: translate(40vw, -50vw);
		opacity: 100%;
	}
	96%,
	100% {
		transform: translateY(40vw, -40vw);
		opacity: 0%;
	}
}

/* vuurwerk 3 */

body > div > div:nth-of-type(3) > div:nth-of-type(5) {
	position: absolute;
}
body > div > div:nth-of-type(3) > div:nth-of-type(5) > div {
	position: absolute;
	left: -20vw;
	width: 0.2vw;
	height: 5vw;
	transform-origin: 50% 80%;
	overflow: hidden;
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(1) {
	transform: rotate(0deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(2) {
	transform: rotate(30deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(3) {
	transform: rotate(60deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(4) {
	transform: rotate(90deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(5) {
	transform: rotate(120deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(6) {
	transform: rotate(150deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(7) {
	transform: rotate(180deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(8) {
	transform: rotate(210deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(9) {
	transform: rotate(240deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(10) {
	transform: rotate(270deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(11) {
	transform: rotate(300deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(5) > div:nth-child(12) {
	transform: rotate(330deg) translateY(-1vw);
}

body > div > div:nth-of-type(3) > div:nth-of-type(5) > div::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 2.8vw;
	background-color: pink;
}

body > div > div:nth-of-type(3) > div:nth-of-type(5) > div:nth-of-type(2n)::before {
	background-color: rgb(190, 121, 121);
}

@keyframes explosie3 {
	0% {
		top: 100%;
		opacity: 100%;
	}
	40%,
	100% {
		top: -60%;
		opacity: 50%;
	}
}

body > div > div:nth-of-type(3) div:nth-of-type(5) {
	left: 90%;
	top: 40%;
}

input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(5) > div::before {
	animation: explosie3 1.75s ease-in-out infinite;
	animation-delay: 2.1s;
}

/* pijl vuurwerk 3 */
input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(6) {
	background-color: pink;
	width: 0.25vw;
	border-radius: 25%;
	height: 0.5vw;
	position: absolute;
	opacity: 0;
	bottom: 0;
	left: 0;
	animation: luchtIn3 1.75s ease-in-out infinite;
	animation-delay: 0.5s;
}

@keyframes luchtIn3 {
	0%,
	45% {
		transform: translate(70vw, -20vw);
		opacity: 100%;
	}
	95% {
		transform: translate(70vw, -36.5vw);
		opacity: 100%;
	}
	96%,
	100% {
		transform: translate(70vw, -36.5vw);
		opacity: 0%;
	}
}

/* vuurwerk weerspiegeling */

body > div > div:nth-of-type(3) > div:nth-of-type(7) {
	position: absolute;
}
body > div > div:nth-of-type(3) > div:nth-of-type(7) > div {
	position: absolute;
	width: 0.1vw;
	height: 2.5vw;
	transform-origin: 50% 80%;
	overflow: hidden;
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(1) {
	transform: rotate(0deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(2) {
	transform: rotate(30deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(3) {
	transform: rotate(60deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(4) {
	transform: rotate(90deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(5) {
	transform: rotate(120deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(6) {
	transform: rotate(150deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(7) {
	transform: rotate(180deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(8) {
	transform: rotate(210deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(9) {
	transform: rotate(240deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(10) {
	transform: rotate(270deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(11) {
	transform: rotate(300deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(7) > div:nth-child(12) {
	transform: rotate(330deg) translateY(-1vw);
}

body > div > div:nth-of-type(3) > div:nth-of-type(7) > div::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 1.5vw;
	background-color: pink;
}

body > div > div:nth-of-type(3) > div:nth-of-type(7) > div:nth-of-type(2n)::before {
	background-color: rgb(190, 121, 121);
}

@keyframes explosieWeerspiegeling {
	0% {
		top: 100%;
		opacity: 100%;
	}
	40%,
	100% {
		top: -60%;
		opacity: 50%;
	}
}

body > div > div:nth-of-type(3) div:nth-of-type(7) {
	left: 20%;
	top: 88%;
	z-index: 1;
	opacity: var(--weerspiegeling);
}

input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(7) > div::before {
	animation: explosieWeerspiegeling 1.75s ease-in-out infinite;
	animation-delay: 1.75s;
}

/* pijl vuurwerk weerspeigeling */
input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(8) {
	background-color: pink;
	width: 0.125vw;
	border-radius: 25%;
	height: 0.25vw;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: luchtInWeeerspiegeling 1.75s ease-in-out infinite;
	/* animation-delay: 1.75s; */
}

@keyframes luchtInWeeerspiegeling {
	0%,
	45% {
		transform: translate(20vw, -20vw);
		opacity: 0;
	}
	58% {
		opacity: 0;
	}
	95% {
		transform: translate(20vw, -5.5vw);
		opacity: var(--weerspiegeling);
	}
	96%,
	100% {
		transform: translateY(20vw, -5.5vw);
		opacity: 0%;
	}
}

/* vuurwerk weerspiegeling 2 */

body > div > div:nth-of-type(3) > div:nth-of-type(9) {
	position: absolute;
}
body > div > div:nth-of-type(3) > div:nth-of-type(9) > div {
	position: absolute;
	width: 0.1vw;
	height: 2.5vw;
	transform-origin: 50% 80%;
	overflow: hidden;
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(1) {
	transform: rotate(-15deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(2) {
	transform: rotate(15deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(3) {
	transform: rotate(45deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(4) {
	transform: rotate(75deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(5) {
	transform: rotate(105deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(6) {
	transform: rotate(135deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(7) {
	transform: rotate(165deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(8) {
	transform: rotate(195deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(9) {
	transform: rotate(225deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(10) {
	transform: rotate(255deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(11) {
	transform: rotate(285deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(9) > div:nth-child(12) {
	transform: rotate(315deg) translateY(-1vw);
}

body > div > div:nth-of-type(3) > div:nth-of-type(9) > div::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 1.5vw;
	background-color: pink;
}

body > div > div:nth-of-type(3) > div:nth-of-type(9) > div:nth-of-type(2n)::before {
	background-color: rgb(190, 121, 121);
}

@keyframes explosieWeerspiegeling2 {
	0% {
		top: 100%;
		opacity: 100%;
	}
	40%,
	100% {
		top: -60%;
		opacity: 50%;
	}
}

body > div > div:nth-of-type(3) div:nth-of-type(9) {
	left: 40%;
	top: 95%;
	z-index: 1;
	opacity: var(--weerspiegeling);
}

input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(9) > div::before {
	animation: explosieWeerspiegeling2 1.75s ease-in-out infinite;
	animation-delay: 3s;
}

/* pijl vuurwerk weerspeigeling 2 */
input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(10) {
	background-color: pink;
	width: 0.125vw;
	border-radius: 25%;
	height: 0.25vw;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: luchtInWeeerspiegeling2 1.75s ease-in-out infinite;
	animation-delay: 1.1s;
}

@keyframes luchtInWeeerspiegeling2 {
	0%,
	45% {
		transform: translate(40vw, -17vw);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	95% {
		transform: translate(40vw, -1.75vw);
		opacity: var(--weerspiegeling);
	}
	96%,
	100% {
		transform: translateY(40vw, -1.75vw);
		opacity: 0%;
	}
}

/* vuurwerk weerspiegeling 3 */

body > div > div:nth-of-type(3) > div:nth-of-type(11) {
	position: absolute;
}
body > div > div:nth-of-type(3) > div:nth-of-type(11) > div {
	position: absolute;
	width: 0.1vw;
	height: 2.5vw;
	transform-origin: 50% 80%;
	overflow: hidden;
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(1) {
	transform: rotate(0deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(2) {
	transform: rotate(30deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(3) {
	transform: rotate(60deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(4) {
	transform: rotate(90deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(5) {
	transform: rotate(120deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(6) {
	transform: rotate(150deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(7) {
	transform: rotate(180deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(8) {
	transform: rotate(210deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(9) {
	transform: rotate(240deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(10) {
	transform: rotate(270deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(11) {
	transform: rotate(300deg) translateY(-1vw);
}
body > div > div:nth-of-type(3) div:nth-of-type(11) > div:nth-child(12) {
	transform: rotate(330deg) translateY(-1vw);
}

body > div > div:nth-of-type(3) > div:nth-of-type(11) > div::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 1.5vw;
	background-color: pink;
}

body > div > div:nth-of-type(3) > div:nth-of-type(11) > div:nth-of-type(2n)::before {
	background-color: rgb(190, 121, 121);
}

@keyframes explosieWeerspiegeling3 {
	0% {
		top: 100%;
		opacity: 100%;
	}
	40%,
	100% {
		top: -60%;
		opacity: 50%;
	}
}

body > div > div:nth-of-type(3) div:nth-of-type(11) {
	left: 70%;
	top: 83%;
	z-index: 1;
	opacity: var(--weerspiegeling);
}

input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(11) > div::before {
	animation: explosieWeerspiegeling3 1.75s ease-in-out infinite;
	animation-delay: 2.1s;
}

/* pijl vuurwerk weerspeigeling 3 */
input[type='checkbox']:checked + div > div:nth-of-type(3) > div:nth-of-type(12) {
	background-color: pink;
	width: 0.125vw;
	border-radius: 25%;
	height: 0.25vw;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: luchtInWeeerspiegeling3 1.75s ease-in-out infinite;
	animation-delay: 0.3s;
}

@keyframes luchtInWeeerspiegeling3 {
	0%,
	45% {
		transform: translate(70vw, -20vw);
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	95% {
		transform: translate(70vw, -9.5vw);
		opacity: var(--weerspiegeling);
	}
	96%,
	100% {
		transform: translateY(70vw, -9.5vw);
		opacity: 0%;
	}
}

/* Berg */
body > div > div:nth-of-type(4) {
	width: 50vw;
	height: 50vw;
	position: relative;
	background: conic-gradient(
		at 50% 50%,
		transparent 135deg,
		rgb(4, 12, 42) 0,
		rgba(4, 12, 42, 1) 225deg,
		transparent 0
	);
}

body > div > div:nth-of-type(4)::before {
	content: '';
	opacity: var(--weerspiegeling);
	background: conic-gradient(
		at 50% 50%,
		transparent 120deg,
		rgba(4, 12, 42, 1) 0,
		rgba(4, 12, 42, 1) 240deg,
		transparent 0
	);
	position: absolute;
	width: 50vw;
	height: 25vw;
	transform: scale(-1) translateY(-208%);
}

/* berg top */
body > div > div:nth-of-type(4)::after {
	content: '';
	position: absolute;
	width: 5vw;
	height: auto;
	bottom: 0;
	transform: translate(117.6%, -150.25%);
	border: 5vw solid white;
	background-color: white;
	clip-path: var(--berg-top);
}

/* omringende bergen  */
body > div > div:nth-of-type(5) {
	background-color: rgba(4, 12, 42, 1);
	width: 100vw;
	height: 18%;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: rotate(180deg) translateY(125%);
	clip-path: var(--omringende-bergen);
}

body > div > div:nth-of-type(5)::after {
	content: '';
	opacity: 100%;
	width: 100vw;
	height: 30vw;
	position: absolute;
	left: 0;
	top: 0;
	/* transform: rotate(180deg); */
	clip-path: var(--omringende-bergen);
}

/* Water */
body > div > div:nth-of-type(6) {
	background-repeat: no-repeat;
	background: rgb(4, 12, 42);
	background: linear-gradient(
		90deg,
		rgba(4, 12, 42, 1) 0%,
		rgba(2, 39, 111, 1) 19%,
		rgba(49, 87, 145, 1) 41%,
		rgba(60, 95, 148, 1) 50%,
		rgba(49, 87, 145, 1) 57%,
		rgba(2, 39, 111, 1) 84%,
		rgba(4, 12, 42, 1) 100%
	);
	width: 100vw;
	height: 17.5vw;
}

body > div > div:nth-of-type(6)::before {
	content: '';
	position: absolute;
	width: 11.75vw;
	opacity: var(--weerspiegeling);
	bottom: 0;
	transform: translate(202.6%, -25%) rotate(180deg) scale(0.75);
	border: 4vw solid white;
	background-color: white;
	clip-path: var(--berg-top);
}

/* test omringende bergen */
body > div > div:last-of-type {
	background-color: rgba(4, 12, 42, 1);

	background: linear-gradient(
		210deg,
		transparent 0,
		transparent 2vw,
		rgba(60, 95, 148, 0) 65.5%,
		rgba(4, 12, 42, 1) 65.55%,
		rgba(4, 12, 42, 1) 100%
	);
	opacity: var(--weerspiegeling);
	width: 100vw;
	height: 5vw;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: scaleY(-1) rotate(180deg) translateY(-205%);
	clip-path: var(--omringende-bergen);
	z-index: 2 !important;
}

body > div > div:nth-of-type(7) {
	background-color: rgba(4, 12, 42, 1);
	background: linear-gradient(360deg, transparent 0, transparent 50px, #565453 0, #565453 100%);
	background: linear-gradient(
		330deg,
		transparent 0,
		transparent 2vw,
		rgba(4, 12, 42, 1) 34.025%,
		rgba(60, 95, 148, 0) 34.125%
	);
	opacity: var(--weerspiegeling);
	width: 100vw;
	height: 5vw;
	position: absolute;
	transform: scaleY(-1) rotate(180deg) translateY(1040%);
	clip-path: var(--omringende-bergen);
}

/* checkbox (toggle button)*/
input[type='checkbox'] {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(2.5vw, -2.5vw);
	z-index: 1;
	width: 5vw;
	height: 2.5vw;
	-webkit-appearance: none;
	background-color: #c6c6c6;
	box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.2);
	border-radius: 20vw;
	transition: 1s;
}

input:checked[type='checkbox'] {
	background-color: rgba(49, 87, 145, 1);
}

input[type='checkbox']:before {
	content: '';
	position: absolute;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 50%;
	background-color: white;
	box-shadow: inset 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
	transition: 1s;
}

input:checked[type='checkbox']:before {
	left: 2.5vw;
}
